# =========================================================
# DEVICE
# =========================================================

node_name: "dusan-garage-door-01"
friendly_name: "Dusan Garage Door"

device_id: "dusan-garage-door-01"
device_role: "garage-door"
site_id: "dusan-garage"

board: "esp32-s3-devkitc-1"
framework: "esp-idf"
hw_revision: "1.0"


# =========================================================
# WIFI
# =========================================================

wifi_ssid: "TEST_WIFI"
wifi_password: "CHANGE_ME_WIFI_PASSWORD"
fallback_password: "CHANGE_ME_FALLBACK_PASSWORD"


# =========================================================
# ESPHOME
# =========================================================

api_key: "CHANGE_ME_32_BYTE_BASE64_API_KEY"
ota_password: "CHANGE_ME_OTA_PASSWORD"


# =========================================================
# WIREGUARD
# =========================================================

wg_address: "10.84.0.3"
wg_private_key: "CHANGE_ME_DEVICE_PRIVATE_KEY"

wg_peer_public_key: "CHANGE_ME_SERVER_PUBLIC_KEY"
wg_endpoint: "vpn.example.com"
wg_endpoint_port: 51822

wg_allowed_ips: "10.0.0.0/8"
